* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
     background-image: url('fnafsl3.jpg');
    background-color: #222;
    color: #fff;
    line-height: 1.6;
}

header {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

h1 {
    font-size: 2rem;
    color: #f39c12;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: #f39c12;
}

section {
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    background-color: #444;
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.personagem {
    margin-bottom: 15px;
}

.personagem h3 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

#contato form {
    display: flex;
    flex-direction: column;
}

#contato form label {
    margin-top: 10px;
}

#contato form input {
    padding: 8px;
    margin-top: 5px;
    font-size: 1rem;
}

#contato form button {
    background-color: #f39c12;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

#contato form button:hover {
    background-color: #e67e22;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    margin-top: 20px;
}